#options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    #options{
        margin-top: 4px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;

    }
  }